<div class="w-full flex flex-col items-center">
    <% if @userList%>
<h1 class="text-3xl underline text-[#131213] py-2 "> Users List </h1>
        <table class="w-5/6 border-2 border-gray-300 rounded-full">
            <thead>
                <tr>
                    <% ["id","email", "username","affectation date","action" ].each do |title| %>
                        <th class="w-1/5 border-r-2"> <%= title %> </th>
                    <%end%>
                </tr>
            </thead>
            <tbody>

                        <% @userList.reverse.each do |user| %>
                        <tr class="w-1/4 border-r-2 text-center <%= user.id == session[:user_id] ? 'bg-green-300': 'bg-gray-200'%>"> 
                        
                                <td class="py-4  border border-gray-300"><%= user.id %>  </td>
                                <td class="py-4  border border-gray-300"><%= user.email %>  </td>
                                <td class="py-4  border border-gray-300"><%= user.username %>  </td>
                                <td class="py-4  border border-gray-300"><%= user.created_at %>  </td>
                                <td class="py-4  border border-gray-300 flex gap-2 items-center justify-center"> 
                                    <%= link_to "edit",user_edit_by_id_path("#{user.id}"),class:"px-2 py-0.5 capitalize border-2 border-blue-300 rounded-full bg-orange-300 text-white"%>
                                    /<%= button_to "delete",user_delete_path("#{user.id}"),method: :delete,data: { confirm: "test"},class:"px-2 py-0.5 capitalize border-2 border-blue-300 rounded-full bg-red-400 text-white"%>
                                </td>
                        </tr>
                    <%end%>
        

            </tbody>
        </table>
        <%else%>
        <h1 class="text-center text-3xl w-full h-full flex items-center justify-center mt-12"> You're not signed in please sign in to be able to see the users ! </h1>
    <%end%>
</div>