<h1>Reset password</h1>

<%= form_with model:Current.user ,url: edit_password_path,method: :patch,class:""    do |form|  %>
<%= form.password_field :password, required: true %>
<%= form.password_field :password_confirmation ,required: true %>
<%= form.submit "update"%>
<%
=begin%>
 <% if form.object.errors.any? %>
    <%form.object.errors.full_messages.each do |error|%>
    <h1> <%= error %> </h1>
    <%end%>
<%end%> 
<%
=end%>
<%= render 'components/form_errors', form: form %>
<%end%>